<!DOCTYPE html>
<html>
<head>


</head>
<body>


<div class="row">
<div class ="col-sm-6" style="width: 800px; height: 600px;">
<table class="highchart" style="display:none" data-graph-container-before="1" data-graph-type="column">
  <thead>
      <tr>
          <th>Monthh</th>
          <th>Sales</th>
          <th>Price</th>
          <th>total</th>
      </tr>
   </thead>
   <tbody>
      <tr>
          <td>January</td>
          <td>CRM</td>
          <td>8000</td>
          <td>5000</td>
      </tr>
       <tr>
          <td>January</td>
          <td>SelfCare</td>
          <td>23000</td>
          <td>500</td>
      </tr>
      <tr>
          <td>February</td>
           <td>CRM</td>     
          <td>12000</td>
          <td>900</td>
      </tr>
      <tr>
          <td>February</td>
           <td>SelfCare</td>     
          <td>12000</td>
          <td>9</td>
      </tr>
  </tbody>
</table>
</div>


<div id="container" class ="col-sm-6" style="width: 800px; height: 400px;">

</div>


</div>

<script>
$(document).ready(function() {
  $('table.highchart').highchartTable();
});
</script>

<script>
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Monthly Average Temperature'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    yAxis: {
        title: {
            text: 'Temperature (°C)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Tokyo',
        data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
    }, {
        name: 'London',
        data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
    }]
});
</script>




</body>
</html>
